<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Turistattraktioner</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Tursitattraktioner</h1>
<table>
    <th>Name</th>
    <th>Description</th>
    <th>Tags</th>
    <tr th:each="attraction : ${list}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attraction.description}"></td>
        <td><a th:href="@{/attraction/{name}/tags(name=${attraction.name})}"><button>Tags</button></a></td>
    </tr>

</table>
    <a th:href="@{/attraction/add}">
        <button>
            Add Attraction
        </button>
    </a>
</body>
</html>