<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Updater turistattraktion</h1>
<form action="#" th:action="@{/attraction/{name}/edit}" th:object="${attraction}" method="post">
    <label>Nyt Navn:</label>
    <label>
        <input type="text" th:field="*{name}" required>
    </label>
    <br>

    <label>Ny Beskrivelse:</label>
    <label>
        <input type="text" th:field="*{description}" required>
    </label>
    <br>

    <label>Ny By:</label>
    <label>
        <select th:field="*{city}">
            <option th:each="cityName : ${cityList}"
                    th:value="${cityName}"
                    th:text="${cityName}">
            </option>
        </select>
    </label>
    <br>
    <label>Nye Tags:</label>
    <br>
    <div th:each="tag : ${tagList}">
        <input type="checkbox" th:field="*{tags}" th:value="${tag}" >
        <label th:text="${tag}"></label>
    </div>
    <button type="submit">Updater</button>
</form>
<a href="/attraction/list"><button>Fortryd</button></a>
</body>
</html>